<div class="back-drop" *ngIf="showLoader">
    <div class="loader">
        <div class="spinner-grow text-light" style="width: 10vw; height: 10vw;" role="status">
        </div>
    </div>
</div>

<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="card col-md-4 col-sm-12">
            <div class="card-body">
                <form [formGroup]="profileData" (ngSubmit)="updateProfile()">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="name" formControlName="name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" placeholder="Email" formControlName="email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="string" class="form-control" placeholder="Mobile Number"
                                formControlName="mobile">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="string" class="form-control" placeholder="City" formControlName="city">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="date" class="form-control" placeholder="Date of Birth" formControlName="dob">
                        </div>
                    </div>
                    <div class="alert alert-success" role="alert" *ngIf="successMsg">
                        {{successMsg}}
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="errMessage">
                        {{errMessage}}
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" [disabled]="profileData.invalid">Update
                                Profile</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>