<div class="container">
    <div class="row">
        <div class="card col-sm-12 col-md-6 col-lg-4 margin-top">

            <div class="card-body">
                <div class="row profile-section">
                    <div class="col font-weight-bold"></div>
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <img class="avatar" [src]="userProfile.profileURL" alt="Card image">
                        <button type="button" class="btn btn-light logout-btn font-weight-bold"
                            (click)="logoutUser()">Logout</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col font-weight-bold">Name :</div>
                    <div class="col-sm-12 col-md-8 col-lg-8">{{userProfile.name}}</div>
                </div>
                <div class="row">
                    <div class="col font-weight-bold">Email Id :</div>
                    <div class="col-sm-12 col-md-8 col-lg-8">{{userProfile.email}}</div>
                </div>
                <div class="row">
                    <div class="col font-weight-bold">Mobile :</div>
                    <div class="col-sm-12 col-md-8 col-lg-8">{{userProfile.mobile}}</div>
                </div>
                <div class="row">
                    <div class="col font-weight-bold">CITY :</div>
                    <div class="col-sm-12 col-md-8 col-lg-8">{{userProfile.city}}</div>
                </div>
                <div class="row">
                    <div class="col font-weight-bold">DOB :</div>
                    <div class="col-sm-12 col-md-8 col-lg-8">{{userProfile.dob}}</div>
                </div>
                <div class="row" *ngIf="userProfile.age">
                    <div class="col font-weight-bold">AGE :</div>
                    <div class="col-sm-12 col-md-8 col-lg-8">{{userProfile.age}} Yr.</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-auto"><a class="btn btn-dark form-control" routerLink="/update-profile"
                            role="button">Edit Profile</a>
                    </div>
                    <div class="col">
                        <a class="btn btn-dark form-control" routerLink="/password" role="button">Change Password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>